@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --color-soft-blue: #B2C4FB; 
  --color-light-blue: #053ADA; 
  --color-dark-blue: #032691; 
  --color-deep-blue: #021655; 
  --color-soft-seconday: #FFFFFF; 
  --color-light-seconday: #B1B1B1; 
  --color--seconday: #B1B1B1; 

}